<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>About</title>
</head>
<body>
    <div id="nav">
        <nav>
          <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/about">Biografía</a></li>
            <li><a href="/works">Trabajos</a></li>
            <li><a href="/gallery">Galería</a></li>
          </ul>
        </nav>
    </div>

    
        <h1>Biografía</h1>
    
    <div id="bio">
        <img src="/images/saraportada.jpeg" alt="Sara Mesa biografia"/>
       
        <p>Sara Mesa es una escritora y periodista española. Nació en Madrid en 1976 y se trasladó con su familia a Sevilla siendo niña, ciudad en la que actualmente reside. Estudió Periodismo y Filología Hispánica.<br> </br>

        Sus inicios literarios se centraron en la poesía, que abandonó muy pronto. Su poemario Este jilguero agenda (2007) fue galardonado con el Premio Nacional de Poesía «Fundación Cultural Miguel Hernández». Es conocida fundamentalmente por su obra narrativa, con sus libros de cuentos La sobriedad del galápago (2008), No es fácil ser verde (2009) y Mala letra (2016) y sus novelas El trepanador de cerebros (2010), Un incendio invisible (2011, reedición revisada en 2017), Cuatro por cuatro (2013, finalista del Premio Herralde de Novela), Cicatriz, (2015, considerada una de las mejores novelas del año por periódicos como El País, El Mundo y ABC y Premio Ojo Crítico de Narrativa), Cara de pan (2018), Un amor (2020, considerada la mejor novela del año por El País), y La Familia (2022).<br> </br>
        
        Aparece en numerosas antologías como Pequeñas resistencias 5. Nuevas voces del cuento español (Páginas de espuma, 2010), Diez bicicletas para treinta sonámbulos (Demipage, 2016), Riesgo (Rata, 2017), Tríos (Anagrama, 2018), Humor negro (La Fuga, 2018) y Tsunami (Sexto Piso, 2019), entre otras.</p>
    </div>
    
</body>
</html>