<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Gallería</title>
</head>
<body>
    <div id="nav">
        <nav>
          <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/about">Biografía</a></li>
            <li><a href="/works">Trabajos</a></li>
            <li><a href="/gallery">Galería</a></li>
          </ul>
        </nav>
    </div>

    <div class="container-img">
        <img class="gallery" src="/images/sara1.jpeg" alt="Sara Mesa galeria"/>
        <img class="gallery" src="/images/sara2.jpeg" alt="Sara Mesa galeria"/>
        <img class="gallery" src="/images/sara3.jpeg" alt="Sara Mesa galeria"/>
        <img class="gallery" src="/images/sara4.jpeg" alt="Sara Mesa galeria"/>
    </div>
</body>
</html>