<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Home</title>
</head>
<body>
    <div id="nav">
        <nav>
          <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/about">Biografía</a></li>
            <li><a href="/works">Trabajos</a></li>
            <li><a href="/gallery">Galería</a></li>
          </ul>
        </nav>
      </div>
    <div id="home">
        <h1>Sara Mesa</h1>
        <h3>Escritora</h3>
    <img class="imgHome" src="/images/sara1.jpeg" alt="Sara Mesa Portada" />
    </div>
</body>
</html>