<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Trabajos</title>
</head>
<body>
    <div id="nav">
        <nav>
          <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/about">Biografía</a></li>
            <li><a href="/works">Trabajos</a></li>
            <li><a href="/gallery">Galería</a></li>
          </ul>
        </nav>
    </div>

    <div>
        <h1>Obras</h1>
        <h2>Narrativa</h2>
        <section class= "obras">
            
            <ul>
                <li>La sobriedad del galápago (2008, Diputación Provincial de Badajoz)</li>
                <li>No es fácil ser verde (2009, Everest)</li>
                <li>El trepanador de cerebros (2010, Tropo Editores)</li>
                <li>Un incendio invisible (2011, Fundación José Manuel Lara; reeditado en 2017 por la Editorial Anagrama)</li>
                <li>Cuatro por cuatro (2012, Editorial Anagrama)</li>
                <li>Cicatriz (2015, Editorial Anagrama)</li>
                <li>Mala letra (2016, Editorial Anagrama)</li>
                <li>Cara de pan (2018, Editorial Anagrama)</li>
                <li>Un amor (2020, Editorial Anagrama)</li>
                <li>La Familia (2022), Editorial Anagrama</li>
            </ul>
            <img src="/images/caradepan.jpeg" alt="libro cara de pan"/>
        </section>

        <h2>Poemas</h2>
        <section class= "obrassub">
        <ul>
            <li>Este jilguero agenda (2007, Devenir)</li>
        </ul>
        </section>

        <h2>Ensayos</h2>
        <section class= "obrassub">
        <ul>
            <li>Silencio administrativo (Anagrama, 2019)</li>
            <li>Perder el miedo. Un manual para la vida (Providence/Books, 2020)</li>
        </ul>
        </section>
    </div>
</body>
</html>