
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #f3e4ab;
    margin: 0;
    padding-bottom: 100px;
}

#nav {
    border-bottom: 2px solid #D1C6B2;
    background-color: #fef7da;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100vw;
    height: 80px;
}
#nav ul {
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 0;
    width: 100vw;
}

#nav li{
    font-size: 18px;
    color: black;
}

#nav a {
    text-decoration: none;
    color: black;
}

#nav a:hover {
    font-weight: bold;
}

#home {
    text-align: center;
}

h1 {
  text-align: center; 
  padding-bottom: 20px; 
}

h2 {
    padding: 0 10vw;
}

.obras {
    text-align: left;
    display: flex;
    justify-content: center;
    padding: 0 10vw;
}

.obras img {
    width: 300px; 
    border: 3px solid white;
}

.obras li {
    line-height: 3rem;
    padding-right: 10vw;
}

.obrassub {
    padding: 0 10vw;
    text-align: left;
    line-height: 3rem;
}

.imgHome {
    width: 700px;
    border: 3px white solid;
}

#bio {
    text-align: left;
    display: flex;
    justify-content: center;
}

#bio p {
    width: 500px;
    padding-left: 10vw;
    padding-top: 2vw;
}

#bio img {
    width: 450px;
    border: 3px white solid;
}

.gallery {
    width: 700px;
    border: 3px solid white;
}

.container-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}





